fastapi
uvicorn
httpx[http2]
beautifulsoup4
curl-cffi
yt-dlp
pydantic
python-multipart
aiohttp
aiosqlite
undetected-chromedriver>=3.5.5
selenium>=4.18.1
bottle==0.13.4
waitress==3.0.2
func-timeout==4.3.5
prometheus-client==0.23.1
requests>=2.31.0
certifi
websockets
packaging
xvfbwrapper
setuptools
